{include file='public/header' title="$title"/}
<link rel="stylesheet" href="_CSS_PATH_/aboutus.css">
<link rel="stylesheet" href="_CSS_PATH_/bootstrap.min.css">

    <!-- <div class="row "> -->
    <div class="container ">
        <div class="top-photo " style="padding-left:0;padding-right:0; ">
            <img src="_IMG_PATH_/aboutus/main.jpg " alt=" ">
        </div>
        <div class="lvyouzhishi ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">关于我们</span>
                    <span class="know ">About Us</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="xiangxijieshao ">
            <div class="container ">
                <div >
                    <div class="left-wenzi col-md-6 col-lg-6 ">
                        <span class="first ">一般来说，婚纱主要类型有A字型婚纱、直身婚纱、齐地婚纱、小拖尾婚纱、大拖尾婚纱、蓬蓬裙型婚纱、连身婚纱、
                            吊带婚纱、抹胸婚纱、素面婚纱、珠绣婚纱、泡泡袖婚纱、公主型婚纱、贴身型婚纱、高腰线型婚纱。如今，中国婚纱市场的需求量越来越大，
                            婚纱的成衣率逐年上升，婚纱的生产与销售成为众多企业追逐的热点。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="second ">如今婚纱礼服在中国大部分城市的婚纱影楼中已经接近饱和状态，以后只会在完善和整合上有所突破，婚纱礼服在这一块
                            市场的增长有限。由于婚纱礼服个人消费市场刚刚起步，所以市场增长潜力很大，国内掀起了购买婚纱礼服的热潮，婚纱礼服的消费量猛增。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="third ">XXX婚纱会让每一位新娘都是最美的！</span>
                    </div>
                    <div class="right-photo col-md-4 col-lg-4 " style="padding-left:0;padding-right:0; ">
                        <img src="_IMG_PATH_/aboutus/timg (1).jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
        <div class="weixiushifu ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">摄影师傅</span>
                    <span class="know ">Master Team</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="person ">

            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMG_PATH_/aboutus/dianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMG_PATH_/aboutus/fudianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">副店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMG_PATH_/aboutus/weixiu1.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅1</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMG_PATH_/aboutus/weixiu2.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅2</span>
                </div>
            </div>

        </div>

    </div>
    <!-- </div> -->

    <!--尾栏 -->

{include file='public/footer' /}
<script src="_JS_PATH_/public.js"></script>