{include file='public/header' title="$title"/}

<link rel="stylesheet" href="_CSS_PATH_center.css">




    <!-- 展示图开始 -->
    <div class="container">
        <div class="images">
            <img src="_IMAGE_PATH_/centerbanner.jpg" alt="">
        </div>
    </div>
    <!-- 标题-->
    <div class="container title1">
        <div class="b-box">
            <!-- <div class="row"> -->
            <div class="title">
                <span class="line-left"></span>
                <div class="word">
                    <p class="main">产品中心</p>
                    <p class="sub">Products</p>
                </div>
                <span class="line-right"></span>
            </div>
            <!-- </div> -->
        </div>
    </div>
    <!-- 列表 -->
    <div class="container list1">
        <div class="L-box">
            <ul class="list">
                <li class="item active">
                    <a href="item.html" class="q">全部</a>
                    <div class="content box-style">
                        <ul class="shop">
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图1.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        简约 时尚欧式系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图2.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        甜美 公主型系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图3.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        欧美系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图4.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        简约 韩式系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图5.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        秀禾 满庭芳系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图6.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        秀禾 花漾绽放系列
                                    </a>
                                </div>
                            </li>
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图7.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                        秀禾 简约系列
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a href="item.html">韩式系列</a>
                    <div class="content">
                        <ul class="shop">
                            <li class="shoplist box1">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图4.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="">
                                        秀禾 满庭芳系列
                                            </a>
                                </div>
                            </li>
                            <li class="shoplist box1">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="item.html">
                                            <img src="_IMAGE_PATH_/婚纱/图5.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html">
                                                秀禾 满庭芳系列
                                            </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item">
                    <a href="item.html">简约系列</a>
                    <div class="content">
                        <ul class="shop">
                            <li class="shoplist">
                                <div class="shoppic">
                                    <div class="shoppicture">
                                        <a href="">
                                            <img src="_IMAGE_PATH_/婚纱/图1.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword">
                                    <a class="word1" href="item.html" ">
                                                简约 时尚欧式系列
                                            </a>
                                </div>
                            </li>
                            <li class="shoplist ">
                                <div class="shoppic ">
                                    <div class="shoppicture ">
                                        <a href="item.html ">
                                            <img src="_IMAGE_PATH_/婚纱/图2.jpg " alt=" ">
                                        </a>
                                    </div>
                                </div>
                                <div class="shopword ">
                                    <a class="word1 " href=" ">
                                               甜美 公主型系列
                                            </a>
                                </div>
                            </li>
                            <li class="shoplist ">
                                <div class="shoppic ">
                                    <div class="shoppicture ">
                                        <a href="item.html "">
                                        <img src="_IMAGE_PATH_/婚纱/图3.jpg" alt="">
                                    </a>
                                </div>
                    </div>
                    <div class="shopword">
                        <a class="word1" href="item.html" ">
                                                欧美系列
                                            </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="item ">
                    <a href="item.html ">秀禾系列</a>
                    <div class="content ">
                        <ul class="list ">
                            <li class="shoplist ">
                                <div class="shoppic ">
                                    <div class="shoppicture ">
                                        <a href="item.html "">
                            <img src="_IMAGE_PATH_/婚纱/图6.jpg" alt="">
                        </a>
                    </div>
        </div>
        <div class="shopword">
            <a class="word1" href="item.html">
                                            秀禾 花样绽放系列
                                        </a>
        </div>
        </li>
        <li class="shoplist">
            <div class="shoppic">
                <div class="shoppicture">
                    <a href="item.html">
                        <img src="_IMAGE_PATH_/婚纱/图7.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="shopword">
                <a class="word1" href="item.html">
                                            秀禾 简约系列
                                        </a>
            </div>
        </li>
        </ul>
    </div>
    </li>
    </ul>
    </div>
    </div>

<!-- 底部开始 -->
<footer>
    <div class="container">
        <div class="row">
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#d3d3d3;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#d3d3d3;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
            <div class="footer-   col-md-4">
                <h5 style="color: #FF6000"><b>一店地址</b></h5>
                <div class="kong" style="height: 24px;"></div>
                <p>门店地址：上海市松江区佘山林荫大道18号</p>
                <p>预约电话：<strong style="color:#FF6000;">400-562-6654 </strong></p>
                <div class="kong" style="height: 24px;"></div>
                <strong style="font-size:15px;color:#d3d3d3;">营业时间：</strong>
                <p style="font-size: 12px">周一 ~周五：上午9:30-下午8:00 </p>
                <p style="font-size: 12px">周六、周日：上午10:00-下午9:00</p>
            </div>
        </div>

    </div>
</footer>
<!-- 版权开始 -->
<div class="footer-copy">
    <ul class="footer-icon">
        <li class="icon-item"><i class="iconfont icon-tubiao215"></i></li>
        <li class="icon-item"><i class="iconfont icon-weixin"></i></li>
        <li class="icon-item"><i class="iconfont icon-xinfeng"></i></li>
        <li class="icon-item"><i class="iconfont icon-dianhua"></i></li>
        <li class="icon-item"><i class="iconfont icon-666"></i></li>
    </ul>
    <div class="copy-text">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
    <div class="zhiding" style="transition: all 1s linear">
        <a href="#top">
            <img src="_IMG_PATH_/上箭头.png" alt="">
        </a>

    </div>
</div>
<!-- 版权结束 -->
<!-- 底部结束 -->


</body>

</html>

<script src="_JS_PATH_/swiper.min.js"></script>
<script src="_JS_PATH_/com.js"></script>

<!-- <script src="js/index.js"></script> -->
<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>



    <!--尾栏 -->
<!--    <div class="bar">-->
<!--        <div class="bar-b">-->
<!--            <div class="address">-->
<!--                <div> <strong>一店地址</strong></div>-->
<!--                <div class="kong"></div>-->
<!--                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>-->
<!--                <p> <span>预约电话:</span> <strong>400-562-6654 </strong></p>-->
<!--                <div class="kong"></div>-->
<!--                <p> <strong class="s">营业时间：</strong></p>-->
<!--                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>-->
<!--                <p> <span>周六、周日：上午10:00-下午9:00</span></p>-->
<!--            </div>-->
<!--            <div class="address">-->
<!--                <div> <strong>一店地址</strong></div>-->
<!--                <div class="kong"></div>-->
<!--                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>-->
<!--                <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>-->
<!--                <div class="kong"></div>-->
<!--                <p> <strong class="s">营业时间：</strong></p>-->
<!--                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>-->
<!--                <p> <span>周六、周日：上午10:00-下午9:00</span></p>-->
<!--            </div>-->
<!--            <div class="address">-->
<!--                <div> <strong>一店地址</strong></div>-->
<!--                <div class="kong"></div>-->
<!--                <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>-->
<!--                <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>-->
<!--                <div class="kong"></div>-->
<!--                <p> <strong class="s">营业时间：</strong></p>-->
<!--                <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>-->
<!--                <p> <span>周六、周日：上午10:00-下午9:00</span></p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="icon">-->
<!--            <i class="iconfont iconqq"></i>-->
<!--            <i class="iconfont iconweixin"></i>-->
<!--            <i class="iconfont icondianziyoujian"></i>-->
<!--            <i class="iconfont iconlianxidianhua"></i>-->
<!--            <i class="iconfont iconface-book"></i>-->
<!--            <div>-->
<!--                <span>版权所有 2019-2020  汽车美容工作室  技术支持：起飞页</span>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; 小于992的尾栏 &ndash;&gt;-->
<!--    <a href="">-->
<!--        <div class="dbbottom">-->
<!--            在线预约-->
<!--        </div>-->
<!--        <div class="zdJiantou">-->
<!--            <a href="#">-->
<!--                <i class="iconfont iconxiangshangjiantouarrowup1-copy"></i>-->
<!--            </a>-->
<!--        </div>-->
<!--</body>-->

<!--</html>-->
<script src="_JS_PATH_/center.js"></script>


