<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>item</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <link rel="stylesheet" href="css/item.css">
    <link rel="stylesheet" href="css/public.css">
    <!-- <link rel="stylesheet" href="css/public/public.css"> -->
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css">
    <link rel="stylesheet" href="css/swiper.min.css">
</head>

<body>
    <!-- 导航栏 -->
    <header>
        <div class="logo">
            <a href="">
                <img src="../PC整理/image/鲜花/d.png" alt="">
            </a>
        </div>
        <div class="navi">
            <ul class="navi-list">
                <li><a href="index.html" class="text text-t text-1"> 首页 </a></li>
                <li><a href="aboutus.html" class="text">关于我们 </a></li>
                <li><a href="center.html" class="text text-2"> 产品中心 </a></li>
                <li><a href="fwxm.html" class="text"> 服务项目</a></li>
                <li><a href="xinwenzixun.html" class="text"> 新闻资讯 </a></li>
                <li><a href="zaixianyuyue.html" class="text">在线预约</a></li>
            </ul>
        </div>

    </header>

    <!-- 滚动条滚动后的导航栏  -->
    <div class="middle">
        <div class="logo">
            <a href="">
                <img src="../PC整理/image/鲜花/d.png" alt="">
            </a>
        </div>
        <div class="right">
            <ul>
                <li><a href="index.html" class="text text-t text-1"> 首页 </a></li>
                <li><a href="aboutus.html" class="text">关于我们 </a></li>
                <li><a href="center.html" class="text"> 产品中心 </a></li>
                <li><a href="fwxm.html" class="text"> 服务项目</a></li>
                <li><a href="xinwenzixun.html" class="text"> 新闻资讯 </a></li>
                <li><a href="zaixianyuyue.html" class="text">在线预约</a></li>
            </ul>
        </div>

    </div>





    <!-- 小于992的导航栏下拉列表 -->
    <div class="dropdown-box">
        <span class="x">产品中心</span>
        <span class="x-1">
                    <i class="iconfont iconfanhui-copy-copy-copy-copy"></i>
                </span>
    </div>
    <a href="">
        <ul class="xialakuang" style="display: none;">
            <a href="index.html" ">
                <li>首页</li>
            </a>
            <a href="aboutus.html ">
                <li>关于我们</li>
            </a>
            <a href="center.html ">
                <li>产品中心</li>
            </a>
            <a href="fwxm.html ">
                <li>服务中心</li>
            </a>
            <a href="xinwenzixun.html ">
                <li>新闻资讯</li>
            </a>
            <a href="zaixianyuyue.html ">
                <li>在线预约</li>
            </a>
        </ul>
    </a>
    <!-- banner -->
    <div class="banner ">
        <img src="../PC整理/image/首页2(2).jpg " alt=" ">
    </div>
    <!-- item -->
    <div class="big-box ">
        <div class="title ">
            <span>秀禾 花漾绽放系列</span>
        </div>
        <div class="row ">
            <div class="lunbo swiper-container " style="margin: 0 ">
                <!-- 轮播图开始 -->
                <!-- <div class=" " id="ban "> -->
                <div class="swiper-wrapper ">
                    <div class="swiper-slide ">
                        <div class="item ">
                            <img src="../PC整理/img/图5.jpg " alt="失败 ">
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="item ">
                            <img src="../PC整理/img/图6.jpg " alt="失败 ">
                        </div>
                    </div>
                    <div class="swiper-slide ">
                        <div class="item ">
                            <img src="../PC整理/img/图7.jpg " alt="失败 ">
                        </div>
                    </div>




                </div>
                <div class="swiper-pagination "></div>
                <!-- </div> -->
                <!-- 轮播图结束 -->
            </div>

            <div class="word ">
                <div class="witem ">
                    <div class="price ">
                        <span>市场价：￥266.00</span>
                    </div>
                    <div class="price1 ">
                        <span>零售价：</span>
                        <span class="buy-price ">￥148.00</span>
                    </div>
                    <div class="line "></div>
                    <div class="state ">
                        <span>库存状况：有货</span>
                    </div>
                </div>
            </div>

        </div>

        <div class="wenzi ">
            <div class="jieshao "><span style="font-size: 22px ">商品介绍</span></div>
            <div class="neirong1 "><span style="font-size:16px; color:rgb(128, 128,128); ">秀禾服，是中式清代婚礼新娘礼服的一种。秀禾服的制作方法较为复杂，现今以潮汕手工最为著名。后以讹传讹逐渐变成部分人嘴里中式大红喜服之代称。 其特征是上衣为立领或圆领、对襟或右衽大襟袄褂，下服是根据明朝马面改造的裙子。<br> 流传至今，这些传统规矩已经宽松不少，简化为新娘子穿大红裙褂，长辈如果要穿裙褂，会选较为成熟的枣红色、紫红色。裙褂的档次则按照各人经济条件来选择。</span>
            </div>
            <div style="position: relative ">&nbsp;</div>
            <div class="neirong2 ">
                <span style="font-size:16px; color:rgb(128, 128,128); " ">后以讹传讹逐渐变成部分人嘴里中式大红喜服之代称。其特征是上衣为立领或圆领、对襟或右衽大襟袄褂，下服是根据明朝马面改造的裙子。流传至今，这些传统规矩已经宽松不少，简化为新娘子穿大红裙褂，长辈如果要穿裙褂，会选较为成熟的枣红色、紫红色。裙褂的档次则按照各人经济条件来选择.秀禾服 中式新娘礼服秀禾服 中式新娘礼服如果在婚礼上新娘穿秀禾服，新郎总不能穿西装，但穿长衫马褂又太夸张。中山装改良而成的上衣，相近的暗花和刺绣，和新娘的裙褂“天生一对”。古时候的南粤，不同的辈分穿的裙褂会有所不同：新娘子一般会穿大红色的裙褂，多数会穿“褂皇”;长辈(新娘的母亲、新郎的母亲)会穿黑衣红裙或全黑的“大五福”;亲属(也属长辈，如：姨妈，姑妈，姐姐，亲嫂等)会穿红色或黑色“中五福”或者“小五福”。其他亲朋，穿传统服饰则可，不规定是裙褂。
            </span>


            </div>


            </div>
            <!--尾栏 -->
            <div class="bar ">
                <div class="bar-b ">
                    <div class="address ">
                        <div> <strong>一店地址</strong></div>
                        <div class="kong "></div>
                        <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                        <p> <span>预约电话:</span> <strong>400-562-6654 </strong></p>
                        <div class="kong "></div>
                        <p> <strong class="s ">营业时间：</strong></p>
                        <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                        <p> <span>周六、周日：上午10:00-下午9:00</span></p>
                    </div>
                    <div class="address ">
                        <div> <strong>一店地址</strong></div>
                        <div class="kong "></div>
                        <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                        <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>
                        <div class="kong "></div>
                        <p> <strong class="s ">营业时间：</strong></p>
                        <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                        <p> <span>周六、周日：上午10:00-下午9:00</span></p>
                    </div>
                    <div class="address ">
                        <div> <strong>一店地址</strong></div>
                        <div class="kong "></div>
                        <div> <span>门店地址：上海市松江区佘山林荫大道18号</span> </div>
                        <p> <span>预约电话:</span> <strong>400-562-6654 </strong> </p>
                        <div class="kong "></div>
                        <p> <strong class="s ">营业时间：</strong></p>
                        <p> <span>周一 ~周五：上午9:30-下午8:00</span></p>
                        <p> <span>周六、周日：上午10:00-下午9:00</span></p>
                    </div>
                </div>
                <div class="icon ">
                    <i class="iconfont iconqq "></i>
                    <i class="iconfont iconweixin "></i>
                    <i class="iconfont icondianziyoujian "></i>
                    <i class="iconfont iconlianxidianhua "></i>
                    <i class="iconfont iconface-book "></i>
                    <div>
                        <span>版权所有 2019-2020  汽车美容工作室  技术支持：起飞页</span>
                    </div>
                </div>
            </div>
            <!-- 小于992的尾栏 -->
            <a href=" ">
                <div class="dbbottom ">
                    在线预约
                </div>
                <div class="zdJiantou ">
                    <a href="# ">
                        <i class="iconfont iconxiangshangjiantouarrowup1-copy "></i>
                    </a>
                </div>
</body>

</html>
<script src="js/swiper.min.js "></script>
<!-- <script src="js/item.js "></script> -->
<script src="./js/jQuery.js "></script>
<script src="./js/animate.js "></script>

<script src="js/public.js "></script>

<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>