

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/aboutus.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css">
    <script src="../static/js/public.js"></script>
    <!-- <div class="row "> -->
    <div class="container ">
        <div class="top-photo " style="padding-left:0;padding-right:0; ">
            <img src="../static/img/玫瑰8.jpg " alt=" " style="height: 320px;">
        </div>
        <div class="lvyouzhishi ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">关于我们</span>
                    <span class="know ">About Us</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="xiangxijieshao ">
            <div class="container ">
                <div class="row ">
                    <div class="left-wenzi col-md-6 col-lg-6 ">
                        <span class="first ">　生命的价值在于生活的充实，在于高尚的精神追求。一只小虫被人为的养在杯中，可它却寻寻觅觅找一条逃生之路。它为何急于逃离舒适的环境呢？也许它渴望蓝天中的遨游，也许它渴望嗅一嗅沁虫心脾的花香，也许它渴望引虫遐想的明月……它知道：生命的意义不仅在于活着，更在于内心的充实、精神的追求。同样，人活着，不能满足于口腹之欲，不能满足于索取与享受，更应该有高尚的追求。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="second ">  &nbsp;&nbsp;&nbsp;&nbsp;山坡上开满了鲜花，在牛羊的眼中它只是饲料。

“鲜花”是精神的，审美的；而“饲料”是物质的，可用的。当一个人心中只剩下名与利的时候，当每天只为房子、车子、票子这些物质的东西奔波劳碌的时候，你说在它眼中，生活还有什么快乐、美好可言？月华初上的夜晚，你可曾有过夫妻携手悠闲散步的乐趣？宁静的夜晚，你可曾享受过全家坐拥书城的温馨？
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="third "></span>
                    </div>
                    <div class="right-photo col-md-4 col-lg-4 " style="padding-left:0;padding-right:0; ">
                        <img src="../static/img/玫瑰5.jpg " alt=" ">
                    </div>
                </div>
            </div>
        </div>
        <div class="weixiushifu ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">摄影师傅</span>
                    <span class="know ">Master Team</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="person ">

            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="../static/img/aboutus/dianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="../static/img/aboutus/fudianzhang.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">副店长</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="../static/img/aboutus/weixiu1.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅1</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="../static/img/aboutus/weixiu2.jpg " alt=" ">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">李大福</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">摄影师傅2</span>
                </div>
            </div>

        </div>

    </div>
    <!-- </div> -->
    </div>
    <!--尾栏 -->

<?php
require '../view/index/footer.html';
?>