
<!--<?php-->
<!--$sql="select * from nav";-->
<!--$nav=$mysql->query($sql)->fetch_assoc();-->
<!--?>-->
<link rel="stylesheet " href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css ">
 <link rel="stylesheet" href="../static/css/newpublic/public.css">
  <link rel="stylesheet" href="../static/css/new.css">
    <!-- 头部开始 -->
    <div class="pic-box ">
        <img src="../static/img/樱花7.jpg " alt=" " style="height: 320px;width: 100%;">
    </div>
    <!-- 养护文字开始 -->
    <div class="yanghu-box ">
        <div class="line-left "></div>
        <div class="yanghu-text-box ">
            <div class="yanghu-text ">
                婚纱知识

            </div>
            <div class="yanghu-english ">
                Wedding Dress

            </div>
        </div>
        <div class="line-right "></div>
    </div>
    <!-- 养护文字结束 -->

    <!-- 正文段落开始 -->

    <div class="texts-box ">
        <p class="title ">婚纱&秀禾</p>
        <div class="fabu-date ">
            <span>发布日期：2019-09-21 12:03</span>
        </div>
        <div class="zhengwen-box ">
            <div class="zhengwen-first ">
                <span>婚纱可单指身上穿的服饰， 也可以包括头纱、捧花部分。婚纱来自西方，有别于以红色为主的中式传统裙褂。白色婚纱代表内心的纯洁，后来逐渐演变为童贞的象征。
                    一般来说，婚纱主要类型有A字型婚纱、直身婚纱、齐地婚纱、小拖尾婚纱、大拖尾婚纱、蓬蓬裙型婚纱、连身婚纱、吊带婚纱、抹胸婚纱、素面婚纱、珠绣婚纱、泡泡袖婚纱、公主型婚纱、贴身型婚纱、高腰线型婚纱。</span>
            </div>
            <div>
                <span>&nbsp</span>
            </div>
            <p>
                <span>
                    制作婚纱礼服的面料主要有缎、厚锻、亮锻、蕾丝、水晶纱、欧根纱、网格纱等。同种面料又有进口及国产之别，进口又有欧洲及日韩两种，材料的不同也决定婚纱不同的档次与价格。
                </span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>秀禾服的“褂”是指上身的对襟衣，“裙”则是下身长裙。随着时代改变，裙褂的款式也有不少变化。
                    上个世纪七十年代以前，裙褂是“黑褂红裙”，之后演变为“红褂红裙”。以前的褂是唐装剪裁，直膊、衫身阔大、扣花钮，现在流行的款式，已经改良为西装膊、修腰、中袖、拉链设计，变得更时尚及舒适。中袖的设计，除了突出新娘子的体态美外，也为了可以看到新娘子所佩戴的手链、手镯等金器饰物，表示对亲友们送的礼物的感谢。
                    秀禾服 中式新娘礼服
                    秀禾服 中式新娘礼服
                    当代在市面上我们可以见到两种褂型：直衣摆与水波脚衣摆。直衣摆是一直以来最传统的款式。水波脚衣摆，顾名思义，衣摆会像波浪一样的形状，款式比较特别，刺绣做工也会相对比较复杂，价钱也会比直衣摆的贵。
                    秀禾服的长度刚到脚踝，所以红鞋的搭配还是很重要的。跟秀禾服一样是刺绣而成的绣花鞋无疑最相衬之物。。</span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>
                    传统的中式婚礼总是以红色为主，热烈红火，看着就让人觉得喜庆；相反，传统的西式婚礼的礼服却以白色婚纱和黑色礼服为主，虽然颜色素净了不少，却显得神圣浪漫，与中式婚礼形成了强烈反差。而如今新式的中式婚礼中，在婚宴上新娘通常要换上三套礼服，第一套是出场礼服，通常是白色婚纱，第二套是敬酒时穿的礼服，这一套礼服通常是晚宴式礼服，第三套礼服是送客穿的礼服，通常新娘会穿上鸡尾酒式的晚宴服。 
                </span>
            </p>
        </div>
    </div>
    <!-- 正文段落结束 -->

    <!-- 上下篇 开始-->

<div class="container" style="height: 50px;">
    <span>上一篇：<?php echo $prevstr?></span>
    <span style="float: right">下一篇：<?php echo $prevstr1?></span>
</div>

<!-- 屏幕为992以下时 -->
<div class="prenext-clone ">
    <div class="before ">
        <a href=" ">
            <span class="befor ">上一篇</span>&nbsp
            <span class="befor-title ">你的爱车清理到位了吗 可别忘记排水孔</span>
        </a>
    </div>
    <div class="next-box ">
        <a href=" ">
            <span class="next ">没有了</span>&nbsp
            <span class="next-title ">下一篇</span>
        </a>
    </div>
</div>
<!-- 上下篇结束 -->






    <!-- 返回按钮开始 -->

    <div class="back-btn ">
        <div class="btn-box ">
            <a href="all.php?%20id=3"><button>返回列表</button></a>
        </div>
    </div>

    <!-- 返回按钮结束 -->

    <!-- 底部图片开始 -->

    <div class="lastpic-box ">
        <img src="../static/img/樱花4.jpg " alt=" " style="height: 320px;width: 100%;">
    </div>

    <!-- 底部图片结束 -->

<?php
require '../view/index/footer.html';
?>
<script src="../static/js/newpublic.js "></script>
