
{include file='public/header' title="$title"/}
<link rel="stylesheet" href="_CSS_PATH_/aboutus.css">
<link rel="stylesheet" href="_CSS_PATH_/bootstrap.min.css">

    <!-- <div class="row "> -->
    <div class="container ">
        <div class="top-photo " style="padding-left:0;padding-right:0; ">
            <img src="_IMAGE_PATH_/学校.jpg " alt=" " style="height: 312px;">
        </div>
        <div class="lvyouzhishi ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">{$title}</span>
                    <span class="know ">{$ename}</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="xiangxijieshao ">
            <div class="container ">
                <div >
                    <div class="left-wenzi col-md-6 col-lg-6 ">
                        <span class="first ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;近几年来，校团委紧紧围绕立德树人的根本任务，立足保持和增强政治性、先进性、群众性，坚定不移推进共青团改革进程。依照共青团“凝聚青年、服务大局、当好桥梁、从严治团”四维工作格局，始终把握思想政治引领这一核心任务，始终坚持服务学生成长成才这一重大使命，以组织建设为基础，以体制机制改革与方式方法创新为着力点，团结带领学校广大团员青年自觉培育和践行社会主义核心价值观
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="second ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我校共青团秉承“开拓创新，严谨治学”的校训，紧紧围绕学校中心工作，全面负责全校团员青年的思想教育、组织建设、宣传工作与网络、社会实践与志愿者活动、课外学术科技活动、大学生创新创业活动、文化艺术活动等工作，并直接领导校团委大学生新闻传播中心、合唱团、管乐团、国旗班、礼仪队、广播剧社、长笛室内乐团等学生组织，指导校学生会、校研究生会、校社团联合会的日常工作及附属中学的团组织工作。
                        </span>
                        <div class="kb " style="height:25px; "></div>
                        <span class="third ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;...相信你会对我校留有美好记忆！</span>
                    </div>
                    <div class="right-photo col-md-4 col-lg-4 " style="padding-left:0;padding-right:0; ">
                        <img src="_IMAGE_PATH_/大合照图.jpg" alt=" ">
                    </div>
                </div>
            </div>
        </div>
        <div class="weixiushifu ">
            <div class="content ">
                <span class="line "></span>
                <div class="viv ">
                    <span class="yanghu ">先锋模范</span>
                    <span class="know ">Master Team</span>
                </div>
                <span class="line-right "></span>
            </div>
        </div>
        <div class="person ">

            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMAGE_PATH_/许家印.jpg " alt=" " style="width: 180px;height: 200px;">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">许家印</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">代表人物</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMAGE_PATH_/刘强东.jpg" alt=" " style="width: 180px;height: 200px;">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">刘强东</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">先进人物</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMAGE_PATH_/王健林.jpg" alt=" " style="width: 180px;height: 200px;">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">王健林</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">实业家</span>
                </div>
            </div>
            <div class="item col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="person-photo ">
                    <img src="_IMAGE_PATH_/柳传志.jpg" alt=" " style="width: 180px;height: 200px;">
                    <span style="display:block;margin-top:15px;color:rgb(0,0,0);font-size:26px;text-align:center; ">柳传志</span>
                    <span style="display:block;margin-top:2px;color:#F0443A;font-size:14px;text-align:center; ">政治家</span>
                </div>
            </div>

        </div>

    </div>
    <!-- </div> -->

    <!--尾栏 -->

<!-- 底部开始 -->
<footer style="background-color: #8f000b;height: 175px;">
    <div class="container">
        <div class="row">
            <div class="footer-   col-md-12">
                <div style="width: 100%;height: 100px;background-color: #8f000b">
                    <div style="width: 920px;height: 150px;text-align: center;line-height: 30px;color: #ccc;margin:30px auto;margin-left: 110px;" >
                        版权所有：共青团南京大学委员会<br>

                        地址：江苏省南京市栖霞区仙林大道163号<br>

                        电话：025-89680321 89680322
                    </div>

                </div>
            </div>
        </div>

    </div>
</footer>
<!-- 版权开始 -->
<div class="footer-copy" style="background-color: #8f000b">
    <ul class="footer-icon">
        <li class="icon-item"><i class="iconfont icon-tubiao215"></i></li>
        <li class="icon-item"><i class="iconfont icon-weixin"></i></li>
        <li class="icon-item"><i class="iconfont icon-xinfeng"></i></li>
        <li class="icon-item"><i class="iconfont icon-dianhua"></i></li>
        <li class="icon-item"><i class="iconfont icon-666"></i></li>
    </ul>
    <div class="copy-text">版权所有 1980-2020 南大团委工作部 技术支持：南大计信</div>
    <div class="zhiding" style="transition: all 1s linear">
        <a href="#top">
            <img src="_IMG_PATH_/上箭头.png" alt="">
        </a>

    </div>
</div>
<!-- 版权结束 -->
<!-- 底部结束 -->


</body>

</html>

<script src="_JS_PATH_/swiper.min.js"></script>
<script src="_JS_PATH_/com.js"></script>


<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>
