{include file='public/header' title="$title"/}

<link rel="stylesheet " href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css ">
<link rel="stylesheet" href="_CSS_PATH_/new.css">
<link rel="stylesheet" href="_CSS_PATH_/newpublic/public.css">


    <!-- 头部开始 -->
    <div class="pic-box ">
        <img src="_IMAGE_PATH_/lb1.jpg " alt=" ">
    </div>
    <!-- 养护文字开始 -->
    <div class="yanghu-box ">
        <div class="line-left "></div>
        <div class="yanghu-text-box ">
            <div class="yanghu-text ">
               党章党课

<!--	           {$vo.nname}-->

            </div>
            <div class="yanghu-english ">
                Studying class
<!--	            {$vo.ename}-->
            </div>
        </div>
        <div class="line-right "></div>
    </div>
    <!-- 养护文字结束 -->

    <!-- 正文段落开始 -->

    <div class="texts-box ">
        <p class="title ">党政实时资讯</p>
        <div class="fabu-date ">
            <span>发布日期：2019-09-21 12:03</span>
        </div>
        <div class="zhengwen-box ">
            <div class="zhengwen-first ">
                <span>
                   我校共青团秉承“开拓创新，严谨治学”的校训，紧紧围绕学校中心工作，全面负责全校团员青年的思想教育、组织建设、宣传工作与网络、社会实践与志愿者活动、课外学术科技活动、
                    大学生创新创业活动、文化艺术活动等工作，并直接领导校团委大学生新闻传播中心、合唱团、管乐团、国旗班、礼仪队、广播剧社、长笛室内乐团等学生组织，指导校学生会、校研究生会、校社团联合会的日常工作及附属中学的团组织工作。
.</span>
            </div>
            <div>
                <span>&nbsp
                </span>
            </div>
            <p>
                <span>    近年来，校团委紧紧围绕立德树人的根本任务，立足保持和增强政治性、先进性、群众性，坚定不移推进共青团改革进程。依照共青团“凝聚青年、服务大局、当好桥梁、从严治团”四维工作格局，始终把握思想政治引领这一核心任务，始终坚持服务学生成长成才这一重大使命，以组织建设为基础，以体制机制改革与方式方法创新为着力点，团结带领学校广大团员青年自觉培育和践行社会主义核心价值观
                </span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>始终坚持服务学生成长成才这一重大使命，以组织建设为基础，以体制机制改革与方式方法创新为着力点，团结带领学校广大团员青年自觉培育和践行社会主义核心价值观
校团委紧紧围绕立德树人的根本任务，立足保持和增强政治性、先进性、群众性，坚定不移推进共青团改革进程。

                    </span>
            </p>
            <p>
                <span>&nbsp</span>
            </p>
            <p>
                <span>

                </span>
            </p>
        </div>
    </div>
    <!-- 正文段落结束 -->

<div class="prenext ">
    <a href="news?id={$up['id']}"style="float: left">
        <span class="befor ">上一篇:{$up['type']}</span>&nbsp
        <span class="befor-title "></span>
    </a>
    <span class="kong "></span>
    <a href="news?id={$down['id']} "style="float: right">
        <span class="next ">下一篇:{$down['type']}</span>&nbsp
        <span class="next-title "></span>
    </a>
</div>


    <!-- 返回按钮开始 -->

    <div class="back-btn ">
        <div class="btn-box ">
            <a href="../新闻资讯/新闻资讯.html "><button>返回列表</button></a>
        </div>
    </div>

    <!-- 返回按钮结束 -->

    <!-- 底部图片开始 -->

    <div class="lastpic-box ">
        <img src="_IMAGE_PATH_/3.jpg " alt=" " style="width: 100%;height: 312px;">
    </div>

    <!-- 底部图片结束 -->


{include file='public/footer'}
<script src="_JS_PATH_/newpublic.js "></script>