<!-- 底部开始 -->
<footer style="background-color: #8f000b;height: 175px;">
	<div class="container">
		<div class="row">
			<div class="footer-   col-md-12">
				<div style="width: 100%;height: 100px;background-color: #8f000b">
					<div style="width: 920px;height: 150px;text-align: center;line-height: 30px;color: #ccc;margin:30px auto" >
						版权所有：共青团南京大学委员会<br>

						地址：江苏省南京市栖霞区仙林大道163号<br>

						电话：025-89680321 89680322
					</div>

				</div>
			</div>
		</div>

	</div>
</footer>
<!-- 版权开始 -->
<div class="footer-copy" style="background-color: #8f000b">
	<ul class="footer-icon">
		<li class="icon-item"><i class="iconfont icon-tubiao215"></i></li>
		<li class="icon-item"><i class="iconfont icon-weixin"></i></li>
		<li class="icon-item"><i class="iconfont icon-xinfeng"></i></li>
		<li class="icon-item"><i class="iconfont icon-dianhua"></i></li>
		<li class="icon-item"><i class="iconfont icon-666"></i></li>
	</ul>
	<div class="copy-text">版权所有 1980-2020 南大团委工作部 技术支持：南大计信</div>
	<div class="zhiding" style="transition: all 1s linear">
		<a href="#top">
			<img src="_IMG_PATH_/上箭头.png" alt="">
		</a>

	</div>
</div>
<!-- 版权结束 -->
<!-- 底部结束 -->


</body>

</html>

<script src="_JS_PATH_/swiper.min.js"></script>
<script src="_JS_PATH_/com.js"></script>


<script>
    var mySwiper = new Swiper('.swiper-container', {
        autoplay: true, //可选选项，自动滑动
        loop: true,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        pagination: {
            el: '.swiper-pagination',
        },
    })
</script>